{% extends "base.html" %}

{% block content %}
<h2>Python Quiz</h2>
<form method="post" action="/result">
    {% for idx, question in enumerate(questions) %}
        <div class="form-group question-container" style="display: none;">
            <label class="question-text" data-text="{{ idx + 1 }}. {{ question['question'] }}" id="question-{{ idx }}"></label>
            {% for opt_idx, option in enumerate(question['options']) %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question-{{ idx }}" id="question-{{ idx }}-{{ opt_idx }}" value="{{ option }}" required>
                    <label class="form-check-label option-text" data-text="{{ option }}" for="question-{{ idx }}-{{ opt_idx }}"></label>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Submit</button>
    <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="visualize" name="visualize">
        <label class="form-check-label" for="visualize">
            Show Visualization
        </label>
    </div>
</form>
<script src="{{ url_for('static', filename='typewriter.js') }}"></script>
{% endblock %}
